<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Game</title>

    <!-- Bootswatch lux https://bootswatch.com/lux/ -->
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.css">
    <link rel="stylesheet" href="style.css">
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="game">
        <div class="container mt-5">
            <div>
                <div class="jumbotron">
                    <h1 class="display-3">{{ message }}</h1>
                    <p class="lead">This is a simple hero game between humans and beautiful monsters.</p>
                    <hr class="my-4">
                    <div class="row text-center">
                        <div class="col">
                            <h1>YOU</h1>
                        </div>
                        <div class="col">
                            <h1>MONSTER</h1>
                        </div>
                    </div>
                    <hr>
                    <div class="row text-center">
                        <div class="col m-2 leaBox">
                            <div :style="myAttackStyle()"></div>
                        </div>
                        <div class="col m-2 leaBox">
                            <div :style="monsterAttackStyle()"></div>
                        </div>
                    </div>
                    <hr class="my-4">
                    <div class="text-center">
                        <!-- Visible button before game starts -->
                        <a class="btn btn-success btn-xs" href="#" role="button" @click="startGame" v-if='showButton'>START
                            NEW GAME</a>
                    </div>
                    <div class="text-center" v-if="!showButton">
                        <!-- Visible buttons when game starts -->
                        <a class="btn btn-danger btn-xs" href="#" role="button" @click="attack">ATTACK</a>
                        <a class="btn btn-warning btn-xs" href="#" role="button" @click="specialAttack">SPECIAL ATTACK</a>
                        <a class="btn btn-success btn-xs" href="#" role="button" @click="heal">HEAL</a>
                        <a class="btn btn-secondary btn-xs" href="#" role="button" @click="giveUp">GIVE UP</a>
                    </div>
                </div>
                <table class="table table-hover text-center">
                    <tbody>
                        <tr v-for="(damage, index) in damageDone">
                            <td scope="row" class="table-success" v-if="index % 2 == 0">PLAYER HITS MONSTER FOR {{
                                damage }}</td>
                            <td scope="row" class="table-danger" v-else>MONSTER HITS PLAYER FOR {{ damage }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Components -->
        <!-- <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-secondary">Secondary</button>
        <button type="button" class="btn btn-success">Success</button>
        <button type="button" class="btn btn-info">Info</button>
        <button type="button" class="btn btn-warning">Warning</button>
        <button type="button" class="btn btn-danger">Danger</button>
        <button type="button" class="btn btn-link">Link</button> -->
    </div>
    <script src="app.js"></script>
</body>

</html>